
*{
    margin: 0px;
    background-color: rgb(253, 252, 253);
}
.logo{
    background-color: rgb(253, 252, 253);
    height: 70px;
    box-shadow: 0px 3px 5px rgb(121, 107, 107);
}
.logo a{
    float: left;
}
.menu{
    float: left;
}
.menu a{
    margin-left: 100px;
    line-height: 60px;
    text-decoration: none; 
    font-size: 30px; 
    color: rgb(0, 0, 0);
}
.menu a:hover{
    color:rgb(255, 124, 2);
}


.login{
    padding-top: 4%;
    padding-bottom: 3%;
    background-color: rgb(125, 188, 243)
}
.login h1{
    padding-left: 420px;
    font-size:50px;
    font-weight:2;
    color: rgb(4, 0, 255);
}
#name,#pass{
    margin-left: 50px;
    margin-top: 60px;
    width: 850px;
    height: 35px; 
    font-family: Montserrat;
    font-size: 24px;
}
#bton{
    margin-left: 42%;
    margin-top: 50px;
    width: 200px;
    height: 35px;
    font-family: Montserrat;
    background-color: antiquewhite;
    color: blue;
    font-size: 24px;
}
.text{
    margin-left: 41%;
    margin-top: 40px;
    font-family: Montserrat;
    color: blue;
    font-size: 25px;
}
a{
    text-decoration: none;
}

.footer h1{
    background-color: blanchedalmond;
}
.footer h1{
    text-align: center;
    font-family: monospace;
    margin-top: 10%;
}
.footer a{
    font-size: 35px;
    color:blue;
}
.footer p{
    text-align: center;
    margin-top: 1%;
}