
*{
    margin: 0px;
    background-color: rgb(253, 252, 253);
}
.logo{
    background-color: rgb(253, 252, 253);
    height: 70px;
    box-shadow: 0px 3px 5px rgb(121, 107, 107);
}
.logo a{
    float: left;
}
.menu{
    float: left;
}
.menu a{
    margin-left: 100px;
    line-height: 60px;
    text-decoration: none; 
    font-size: 30px; 
    color: rgb(0, 0, 0);
}
.menu a:hover{
    color:rgb(255, 124, 2);
}
.header{
    margin-top: 5%;
    text-align: center;
    color: rgb(9, 129, 123);
    font-size: 30px;
    font-family: cursive;
}
.A ,.B{
    margin-left: 5%;
    font-size: 40px;
    text-decoration: none;
    line-height: 200%;
    color: rgb(105, 92, 92);
}
.A a,.B a{
    text-decoration:none;
    color: rgb(255, 0, 0);
}

.footer h1{
    background-color: blanchedalmond;
}
.footer h1{
    text-align: center;
    font-family: monospace;
    margin-top: 10%;
}
.footer a{
    font-size: 35px;
    
    color:blue;
}
.footer p{
    text-align: center;
    margin-top: 1%;
}